requests
beautifulsoup4
pandas
lxml
html5lib
matplotlib
SQLAlchemy
python-docx
pypdf2
PyPDF4
typer
openpyxl
attrs
aiofiles
aiodns
codetiming
colorama
paramiko==2.7.2
scp==0.13.3
numba==0.53.1
aiohttp[speedups]